<!DOCTYPE html>
<head>
    <title>Flatiron Rules!</title>
    <link rel="shortcut icon" href=".ico">
</head>
<body>
  <header style="color:orange">
    <h1 style="color:white">Flatiron Widgets Store</h1>
  </header>
  <%= yield %>
</body>
